[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
